body {
  text-align: center;
  background-color: #0f0f0f;
  
}
.set{
  border-radius: 11%;
  position: relative;
  width: 100vh;
  height: 100vh;
  background-size:cover;
  background-position: center;
  background-image: url('images/drum-kit-bg.jpg');
  font-size: 2em;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}
.drum{
  height: 12%;
  width: 22%;
  background: #180A0A;
  color: #faf0f0;
  border: #603601;
  opacity: 0.3;
  border-radius: 100%;
}
 .w {
  top: 31%;
  left: -27%;
  bottom: 0%;
  right: 0%;
  position: relative;
}

.a {
  top: 31%;
  left: -20%;
  bottom: 0%;
  right: 0%;
  position: relative;
}
 
.s {
  border-radius: 122%;
  top: 45%;
  left: 11%;
  bottom: 4%;
  right: 0%;
  position: relative;
  background: black;
  width: 27%;
  height: 21%;
}

.d {
  top: 34%;
  left: 40%;
  bottom: 0%;
  right: 1%;
  position: relative;
  width: 27%;
  height: 21%;
}

.j {
  inset: -16% 1% 0% -38%;
  position: relative;
  height: 9%;
}

.k {
  top: 2%;
  left: 56%;
  bottom: 0%;
  right: 2%;
  position: relative;
  height: 22%;
  width: 33%;
  background: #b68859;
}

.l {
  inset: -17% 2% 0% -81%;
  position: relative;
  height: 12%;
  width: 14%;
  background: rgb(182, 136, 89);
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}


